.message {
  margin-bottom: 20px;
}
.user__name {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  line-height: 1;

  transition: color 0.2s linear;
}
.activeUserMessage {
  color: gold;
}
.message__photo {
  padding-right: 10px;

  .message__img {
    border-radius: 50%;
  }
}
