.mainImg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.user {
    margin: 10px 0;
    display: flex;
}
.user__img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

.user__content {
    margin-left: 10px;
}
.user__name {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
}