.header {
  grid-area: header;
  background-color: #50c878;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  display: block;
  width: 60px;
  height: auto;
  padding: 0 10px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_list {
  display: flex;
}
.nav_link {
  display: block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken(#50c878, 10%);
  }
}
.nav_item {
  position: relative;
  &:hover {
    > .subNav {
      display: block;
    }
  }
}
.subNav {
  display: none;

  padding: 5px 0;
  width: 100px;

  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;

  background-color: #50c878;
}
.subNav_item {
  display: block;
  padding: 5px 10px;
  text-align: right;

  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken(#50c878, 10%);
  }
}
