.paginator {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}
.item {
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 7px;
  margin: 0 5px;
  cursor: pointer;

  transition: background-color 0.2s linear, transform 0.2s linear;

  &.selected {
    background-color: #50c878;
    color: #fff;
    transform: scale(1.2);
  }

  &:hover {
    background-color: #ccc;
  }
}
.dots {
  margin: 0 10px;
}
