@import "./../../common/Vars.scss";
.item {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;
  font-variant: small-caps;

  transition: background-color 0.2s linear;

  &:hover {
    border-radius: 5px;
    background-color: $light-green;
  }
}

.item__link {
  width: 100%;

  font-size: 18px;
  font-weight: 400;

  text-decoration: none;
  color: inherit;

  padding: 0px 20px;

  transition: color 0.2s linear;
}
.activeLink {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;

  color: #fff;

  border-radius: 5px;
  background-color: $dark-green;
}
